openapi: 3.1.0
info:
  title: Slivki Mobile API
  version: 1.0.0
  summary: Production mobile API for the native iOS app
  description: >
    Current v1 contract exposed by slivki-shop.ru for the native SwiftUI app.
    Responses are JSON only and use the common success/meta/data envelope.
    Catalog/product reads are live. Cart writes recalculate product data
    server-side. Order creation currently returns safe draft-only orders and
    does not trigger fulfillment. Auth returns a not_implemented error until
    the production SMS/token flow is added.
servers:
  - url: https://slivki-shop.ru/api/mobile/v1
    description: Production
tags:
  - name: Health
  - name: Bootstrap
  - name: Catalog
  - name: Products
  - name: Cart
  - name: Auth
  - name: Orders
paths:
  /health:
    get:
      tags: [Health]
      summary: Check mobile API availability
      operationId: getHealth
      responses:
        "200":
          description: API is available
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [status]
                        properties:
                          status:
                            type: string
                            const: ok
        default:
          $ref: "#/components/responses/Error"
  /bootstrap:
    get:
      tags: [Bootstrap]
      summary: Load app shell data
      operationId: getBootstrap
      parameters:
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Site, app, navigation, and featured products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/BootstrapData"
        default:
          $ref: "#/components/responses/Error"
  /catalog:
    get:
      tags: [Catalog]
      summary: List catalog categories
      operationId: getCatalog
      responses:
        "200":
          description: Category tree
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [categories]
                        properties:
                          categories:
                            type: array
                            items:
                              $ref: "#/components/schemas/Category"
        default:
          $ref: "#/components/responses/Error"
  /products:
    get:
      tags: [Products]
      summary: List and search active products
      operationId: listProducts
      parameters:
        - name: category_id
          in: query
          description: Category id. Products from descendant categories are included.
          schema:
            type: integer
            minimum: 1
        - name: q
          in: query
          description: Case-insensitive title search.
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          schema:
            type: string
            enum: [new, popular, price_asc, price_desc]
            default: new
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Product list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ProductListData"
        default:
          $ref: "#/components/responses/Error"
  /products/{id}:
    get:
      tags: [Products]
      summary: Get product details
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Product detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [product]
                        properties:
                          product:
                            $ref: "#/components/schemas/Product"
        "404":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /cart:
    get:
      tags: [Cart]
      summary: Load the current mobile cart envelope
      operationId: getCart
      responses:
        "200":
          description: Anonymous mobile cart. The current production endpoint returns an empty cart unless a request body is supplied to PUT/POST.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Cart"
        default:
          $ref: "#/components/responses/Error"
    put:
      tags: [Cart]
      summary: Recalculate submitted cart items
      operationId: updateCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartUpdateRequest"
      responses:
        "200":
          description: Cart totals recalculated from production product data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Cart"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Cart]
      summary: Recalculate submitted cart items
      operationId: postCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartUpdateRequest"
      responses:
        "200":
          description: Cart totals recalculated from production product data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Cart"
        default:
          $ref: "#/components/responses/Error"
  /auth/login:
    post:
      tags: [Auth]
      summary: SMS login placeholder
      operationId: login
      description: Production currently returns HTTP 501 with code `not_implemented`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone:
                  type: string
                code:
                  type: string
      responses:
        "501":
          $ref: "#/components/responses/Error"
        default:
          $ref: "#/components/responses/Error"
  /orders:
    get:
      tags: [Orders]
      summary: List mobile orders
      operationId: listOrders
      responses:
        "200":
          description: Current production endpoint returns an empty order list until auth/order persistence is implemented.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items, pagination]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/Order"
                          pagination:
                            $ref: "#/components/schemas/Pagination"
        default:
          $ref: "#/components/responses/Error"
    post:
      tags: [Orders]
      summary: Create a safe draft-only mobile order
      operationId: createOrder
      description: Returns HTTP 202 and a draft order payload. It does not create a real fulfillment order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreateRequest"
      responses:
        "202":
          description: Draft order accepted by the mobile API
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [order]
                        properties:
                          order:
                            $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
components:
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    Error:
      description: Error envelope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  schemas:
    SuccessEnvelope:
      type: object
      required: [success, meta, data]
      properties:
        success:
          type: boolean
          const: true
        meta:
          $ref: "#/components/schemas/Meta"
        data:
          type: object
    ErrorEnvelope:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              examples: [not_found, method_not_allowed, internal_error]
            message:
              type: string
    Meta:
      type: object
      required: [apiVersion, generatedAt]
      properties:
        apiVersion:
          type: string
          const: mobile-v1
        generatedAt:
          type: string
          format: date-time
    BootstrapData:
      type: object
      required: [site, app, navigation, user, cart, featuredProducts]
      properties:
        site:
          $ref: "#/components/schemas/SiteInfo"
        app:
          $ref: "#/components/schemas/AppInfo"
        navigation:
          type: object
          required: [categories]
          properties:
            categories:
              type: array
              items:
                $ref: "#/components/schemas/Category"
        user:
          type:
            - object
            - "null"
        cart:
          $ref: "#/components/schemas/Cart"
        featuredProducts:
          $ref: "#/components/schemas/ProductListData"
    SiteInfo:
      type: object
      required: [name, host]
      properties:
        name:
          type: string
        host:
          type: string
          format: uri
        phone:
          type: string
        address:
          type: string
        hours:
          type: string
    AppInfo:
      type: object
      required: [iosBundleId, iosAppStoreId, iosMinimumVersion, currency, locale]
      properties:
        iosBundleId:
          type: string
          examples: [com.app.slivki]
        iosAppStoreId:
          type: string
          examples: ["6757003701"]
        iosMinimumVersion:
          type: string
          examples: ["13.0"]
        currency:
          type: string
          const: RUB
        locale:
          type: string
          examples: [ru_RU]
    Category:
      type: object
      required: [id, parentId, title, slug, url, children]
      properties:
        id:
          type: integer
        parentId:
          type:
            - integer
            - "null"
        title:
          type: string
        slug:
          type: string
        url:
          type:
            - string
            - "null"
          format: uri
        primaryImage:
          type:
            - string
            - "null"
          format: uri
        images:
          type: array
          items:
            $ref: "#/components/schemas/ImageSet"
        children:
          type: array
          items:
            $ref: "#/components/schemas/Category"
    ProductListData:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        pagination:
          $ref: "#/components/schemas/Pagination"
        filters:
          type: object
          additionalProperties: true
    Product:
      type: object
      required: [id, title, url, category, price, stock, type, badges, images, description]
      properties:
        id:
          type: integer
        title:
          type: string
        slug:
          type: string
        url:
          type:
            - string
            - "null"
          format: uri
        category:
          type: object
          required: [id, title, slug]
          properties:
            id:
              type:
                - integer
                - "null"
            title:
              type:
                - string
                - "null"
            slug:
              type:
                - string
                - "null"
        price:
          type: object
          required: [current, old, currency]
          properties:
            current:
              type:
                - number
                - "null"
            old:
              type:
                - number
                - "null"
            currency:
              type: string
              const: RUB
        stock:
          type: object
          required: [count, available]
          properties:
            count:
              type: integer
              minimum: 0
            available:
              type: boolean
        type:
          type: string
        sku:
          type:
            - string
            - "null"
        barcode:
          type:
            - string
            - "null"
        badges:
          type: array
          items:
            type: string
        primaryImage:
          type:
            - string
            - "null"
          format: uri
        images:
          type: array
          items:
            $ref: "#/components/schemas/ImageSet"
        description:
          type: string
        dimensions:
          type: object
          properties:
            widthSm:
              type:
                - number
                - "null"
            heightSm:
              type:
                - number
                - "null"
            lengthSm:
              type:
                - number
                - "null"
            weightKg:
              type:
                - number
                - "null"
    Cart:
      type: object
      required: [id, items, totals, updatedAt]
      properties:
        id:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"
        totals:
          $ref: "#/components/schemas/CartTotals"
        updatedAt:
          type: string
          format: date-time
    CartUpdateRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            required: [quantity]
            description: `productId`, `product_id`, or `id` is accepted for compatibility with native and manual clients.
            properties:
              productId:
                oneOf:
                  - type: integer
                  - type: string
              product_id:
                oneOf:
                  - type: integer
                  - type: string
              id:
                oneOf:
                  - type: integer
                  - type: string
              quantity:
                type: integer
                minimum: 1
              selectedOptions:
                type: object
                additionalProperties:
                  type: string
    CartItem:
      type: object
      required: [id, productId, title, price, quantity]
      properties:
        id:
          type: string
        productId:
          type: string
        title:
          type: string
        price:
          type: number
        quantity:
          type: integer
          minimum: 1
        selectedOptions:
          type: array
          items:
            type: object
            additionalProperties: true
    CartTotals:
      type: object
      required: [itemsTotal, deliveryFee, discount, payableTotal, currency]
      properties:
        itemsTotal:
          type: number
        deliveryFee:
          type: number
        discount:
          type: number
        payableTotal:
          type: number
        currency:
          type: string
          const: RUB
    OrderCreateRequest:
      type: object
      required: [customer_name, phone, city, address, items]
      properties:
        customer_name:
          type: string
          description: Native iOS wire format.
        customerName:
          type: string
          description: Compatibility alias accepted by the production API.
        phone:
          type: string
        city:
          type: string
        address:
          type: string
        comment:
          type: string
        items:
          type: array
          items:
            type: object
            required: [quantity]
            description: `productId`, `product_id`, or `id` is accepted for compatibility with native and manual clients.
            properties:
              productId:
                oneOf:
                  - type: integer
                  - type: string
              product_id:
                oneOf:
                  - type: integer
                  - type: string
              id:
                oneOf:
                  - type: integer
                  - type: string
              quantity:
                type: integer
                minimum: 1
    Order:
      type: object
      required: [id, number, status, createdAt, totals, items]
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
          enum: [new, confirmed, paid, assembling, shipped, completed, cancelled]
        createdAt:
          type: string
          format: date-time
        totals:
          $ref: "#/components/schemas/CartTotals"
        items:
          type: array
          items:
            $ref: "#/components/schemas/CartItem"
        deliveryAddress:
          type:
            - object
            - "null"
          properties:
            cityId:
              type: string
            line1:
              type: string
        contactPhone:
          type:
            - string
            - "null"
        comment:
          type:
            - string
            - "null"
        mobileApiMode:
          type: string
          const: draft_only
    ImageSet:
      type: object
      properties:
        small:
          type: string
          format: uri
        normal:
          type: string
          format: uri
        big:
          type: string
          format: uri
        original:
          type: string
          format: uri
    Pagination:
      type: object
      required: [offset, limit, count]
      properties:
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
          maximum: 100
        count:
          type: integer
          minimum: 0
