openapi: 3.1.0
info:
  title: Slivki Mobile API
  version: 1.0.0
  summary: Native iOS MVP API contract for slivki-shop.ru
  description: >
    Contract for the native SwiftUI Slivki iOS MVP. The mobile app consumes JSON
    API responses only and must not scrape or parse slivki-shop.ru HTML pages.
servers:
  - url: https://slivki-shop.ru/api/mobile/v1
    description: Production mobile API
tags:
  - name: Bootstrap
  - name: Catalog
  - name: Products
  - name: Cart
  - name: Auth
  - name: Orders
  - name: Push
security:
  - bearerAuth: []
paths:
  /bootstrap:
    get:
      tags: [Bootstrap]
      summary: Load application bootstrap data
      operationId: getBootstrap
      security: []
      parameters:
        - $ref: '#/components/parameters/AcceptLanguage'
        - $ref: '#/components/parameters/CityId'
      responses:
        '200':
          description: Bootstrap data for the app shell
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        default:
          $ref: '#/components/responses/Error'
  /catalog:
    get:
      tags: [Catalog]
      summary: List catalog categories
      operationId: getCatalog
      security: []
      parameters:
        - $ref: '#/components/parameters/CityId'
        - name: include_empty
          in: query
          description: Include categories without active products.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Catalog tree
          content:
            application/json:
              schema:
                type: object
                required: [categories]
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        default:
          $ref: '#/components/responses/Error'
  /products:
    get:
      tags: [Products]
      summary: Search and list products
      operationId: listProducts
      security: []
      parameters:
        - $ref: '#/components/parameters/CityId'
        - name: category_id
          in: query
          schema:
            type: string
        - name: q
          in: query
          description: Search query.
          schema:
            type: string
            minLength: 1
        - name: sort
          in: query
          schema:
            type: string
            enum: [popular, newest, price_asc, price_desc, discount_desc]
            default: popular
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        default:
          $ref: '#/components/responses/Error'
  /products/{id}:
    get:
      tags: [Products]
      summary: Get product details
      operationId: getProduct
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/CityId'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Error'
  /cart:
    get:
      tags: [Cart]
      summary: Get current cart
      operationId: getCart
      responses:
        '200':
          description: Current cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags: [Cart]
      summary: Replace current cart contents
      operationId: putCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartUpdateRequest'
      responses:
        '200':
          description: Updated cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '409':
          description: Cart has unavailable products or changed prices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/Error'
  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in with phone and code
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated user and tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid or expired login code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/Error'
  /orders:
    get:
      tags: [Orders]
      summary: List current user orders
      operationId: listOrders
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: User order history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags: [Orders]
      summary: Create order from cart
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Created order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '422':
          description: Order validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/Error'
  /push-token:
    post:
      tags: [Push]
      summary: Register APNs device token
      operationId: registerPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenRequest'
      responses:
        '204':
          description: Token registered
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    AcceptLanguage:
      name: Accept-Language
      in: header
      schema:
        type: string
        examples: [ru-RU]
    CityId:
      name: city_id
      in: query
      description: Selected city identifier.
      schema:
        type: string
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    BootstrapResponse:
      type: object
      required: [cities, selected_city, categories, banners, user, cart]
      properties:
        cities:
          type: array
          items:
            $ref: '#/components/schemas/City'
        selected_city:
          $ref: '#/components/schemas/City'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        banners:
          type: array
          items:
            $ref: '#/components/schemas/Banner'
        user:
          anyOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        cart:
          $ref: '#/components/schemas/Cart'
        feature_flags:
          type: object
          additionalProperties:
            type: boolean
    ProductListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'
    OrderListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Product:
      type: object
      required:
        - id
        - title
        - price
        - unit
        - is_available
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        category_id:
          type: string
        price:
          type: number
          format: decimal
          minimum: 0
          description: Current display price in the product currency.
        old_price:
          type:
            - number
            - 'null'
          format: decimal
          minimum: 0
        unit:
          type: string
          examples: [шт]
        currency:
          type: string
          minLength: 3
          maxLength: 3
          default: BYN
          examples: [BYN]
        discount_percent:
          type: integer
          minimum: 0
          maximum: 100
        is_available:
          type: boolean
        image_url:
          type:
            - string
            - 'null'
          format: uri
        seller_title:
          type:
            - string
            - 'null'
        badges:
          type: array
          items:
            type: string
        deeplink:
          type: string
          format: uri
        updated_at:
          type: string
          format: date-time
    Category:
      type: object
      required: [id, title]
      properties:
        id:
          type: string
        parent_id:
          type:
            - string
            - 'null'
        title:
          type: string
        image_url:
          type: string
          format: uri
        sort_order:
          type: integer
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Cart:
      type: object
      required: [id, items, totals, currency]
      properties:
        id:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        totals:
          $ref: '#/components/schemas/CartTotals'
        currency:
          type: string
          minLength: 3
          maxLength: 3
        updated_at:
          type: string
          format: date-time
    CartItem:
      type: object
      required: [id, product_id, title, quantity, price]
      properties:
        id:
          type: string
        product_id:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: integer
          minimum: 1
        title:
          type: string
        price:
          type: number
          format: decimal
          minimum: 0
        line_total:
          type: number
          format: decimal
          minimum: 0
        selected_options:
          type: array
          items:
            $ref: '#/components/schemas/CartItemOption'
    CartItemOption:
      type: object
      required: [id, title, price_delta]
      properties:
        id:
          type: string
        title:
          type: string
        price_delta:
          type: number
          format: decimal
    CartTotals:
      type: object
      required: [items_total, discount_total, payable_total]
      properties:
        items_total:
          type: number
          format: decimal
          minimum: 0
        discount_total:
          type: number
          format: decimal
          minimum: 0
        delivery_total:
          type: number
          format: decimal
          minimum: 0
        payable_total:
          type: number
          format: decimal
          minimum: 0
    CartUpdateRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                type: string
              quantity:
                type: integer
                minimum: 0
                description: Zero removes the item.
    Order:
      type: object
      required: [id, number, status, items, totals, created_at]
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
          enum: [new, confirmed, paid, assembling, shipped, completed, cancelled]
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        totals:
          $ref: '#/components/schemas/CartTotals'
        delivery_address:
          $ref: '#/components/schemas/Address'
        contact_phone:
          type: string
        comment:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateOrderRequest:
      type: object
      required: [cart_id, contact_phone]
      properties:
        cart_id:
          type: string
        delivery_address:
          $ref: '#/components/schemas/Address'
        contact_phone:
          type: string
        comment:
          type: string
          maxLength: 1000
    User:
      type: object
      required: [id]
      properties:
        id:
          type: string
        phone:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        city:
          $ref: '#/components/schemas/City'
    City:
      type: object
      required: [id, title]
      properties:
        id:
          type: string
        title:
          type: string
        timezone:
          type: string
          examples: [Europe/Moscow]
        is_default:
          type: boolean
    Banner:
      type: object
      required: [id, image_url, target]
      properties:
        id:
          type: string
        title:
          type: string
        image_url:
          type: string
          format: uri
        target:
          $ref: '#/components/schemas/BannerTarget'
    BannerTarget:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [product, category, url, none]
        value:
          type: string
    LoginRequest:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
        code:
          type: string
          minLength: 4
          maxLength: 8
    LoginResponse:
      type: object
      required: [access_token, token_type, user]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          const: Bearer
        expires_in:
          type: integer
          minimum: 1
        user:
          $ref: '#/components/schemas/User'
    PushTokenRequest:
      type: object
      required: [token, platform]
      properties:
        token:
          type: string
        platform:
          type: string
          const: ios
        environment:
          type: string
          enum: [sandbox, production]
        device_id:
          type: string
    Address:
      type: object
      required: [city_id, line1]
      properties:
        city_id:
          type: string
        line1:
          type: string
        line2:
          type: string
        entrance:
          type: string
        floor:
          type: string
        apartment:
          type: string
    Pagination:
      type: object
      required: [page, per_page, total]
      properties:
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          examples: [validation_error]
        message:
          type: string
        details:
          type: object
          additionalProperties: true
